header {
    position: absolute;
}

.type {
    padding-top: 0;
}

p.la_url {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-style: italic;

    display: inline;

    margin: 5px;
    padding: 5px;

    color: #524e45;
    border: 2px dashed silver;
}


.user_header {
    margin: 10px;

    border: 2px dashed silver;
    border-radius: 8px;
    background-color: #d3d3d3;
}

.provider {
    margin: 10px;

    border: 2px dashed silver;
    border-radius: 8px;
    background-color: #d3d3d3;
}

.provider h6 {
    text-align: center;
}



pre.title {
    font-size: 16px;
    color: #32362b;
}