body, html {
  margin: 0;
  padding: 0;
  font-family: Roboto,sans-serif;
  background: #353839;
  overflow: -Scroll;
  overflow-x: hidden;
}

/**:after,*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

 Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ 
.clearfix:before,.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}*/
.container {
  position: relative;
}

footer {
  width: 100%;
  padding: 0.5em;
  color: #F6F6E9;
  background-color: #658092;
  clear: both;
  text-align: center;
  font-weight: 100;
  font-size: 12px;
   user-select:none;
}

header {
  top: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  font-size: 250%;
  font-weight: bold;
  background-color: #658092;
  text-align: center;
  color: #F6F6E9;
  position: fixed;
  z-index: 1;
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

nav {
  user-select:none;
  position: fixed;
  top: 50px;
  left: 60px;
  width: 200px;
/*  padding-bottom: 20px;
  margin-bottom: 20px;*/
height: 89%;
  background-color: #dadada;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

nav a, aside a {
  color: #666;
  background: e7e7e7;
}

.main {
/*  float: left;
  width: 60%;*/
  z-index: 2;
  margin-top: 50px;
  margin-left: 260px;
  margin-right: 260px;
}

aside {
   user-select:none;
  position: fixed;
  top: 50px;
  right: 60px;
  width: 200px;
/*  height: 90%;*/
  background-color: #dadada;
    padding-bottom: 20px;
  margin-bottom: 20px;
/*  height: 85%;
*/
}

aside ul {
  margin-top: 0px;
  padding: 0px;
}

aside ul li a {
  margin-top: 0px;
  padding: 5px;
}

nav ul li a {
  display: block;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  padding: 20px;
}

ul.nav {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  list-style-type: none;
  color: #006fc9;
}

ul.nav li {
  width: 140;
  height: 40;
}

ul.nav li a {
  font-size: 1.0em;
  font-weight: bold;
  padding: 5px 5px;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid silver;
}

ul.nav li a:hover {
  background-color: #CBCBCB;
  color: #000;
}

aside ul.internal_link li a {
    border-bottom: 1px solid silver;
    display: block;
    margin-top: 0;
    padding-top: 0;
}
aside ul.internal_link li a:hover {
  background-color: #CBCBCB;
  color: #000;
}

aside ul.external_link li a {
/*    border-bottom: 1px solid silver;
    display: block;*/
    margin: 5px;
      text-decoration: none;
    padding: 0;
  }

ul.nav ul {
  margin: 0;
  padding: 0;
  display: none;
  list-style-type: none;
}

ul.nav ul li {
  margin: 0;
/*  padding: 5px;*/
  clear: both;
}

ul.nav ul li a {
  padding-left: 20px;
  font-size: 0.8em;
  font-weight: bolder;
  outline: 0;
      display: block;
}

/*
ul.nav ul li a:hover {
  padding: 5px;
  background-color: #dadada;
  color: #000;
}*/

ul.nav ul ul li a {
  padding-left: 40px;
      display: block;
}

ul.nav ul ul ul li a {
  padding-left: 60px;
  font-size: 1em;
  font-weight: bold;
}

ul.nav span {
  float: right;
}

section {
  float: releative;
  text-align: justify;
  margin: 20px;
  padding: 20px 0px 20px 0px;
  background-color: #dadada;
  border-radius: 8px;
}

.main h3,h4,h5,h6 {
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
  padding-left: 5px;
}


.main h3 {
  margin-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
  background-color: silver;
  text-align: center;

}

.protocol {
  padding-top: 0;
}

aside ul {
  list-style-type: none;
/*  float: fixed;*/
  display: block;
}

aside ul li a {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
/*  text-align: left;*/
  line-height: 30px;
}

p.vcas {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-size: 15px;
  color: #524E45;
  margin: 5px;
  padding: 5px;
  border: 2px dashed silver;
  display: inline;
}

span.prefix {
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    -o-user-select: none;
    user-select: none; /* Standard syntax */
}
pre {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 200;
  color: #505050;
  white-space: pre-wrap;
  word-wrap: break-word;
}

::selection {
  color: #CC9933;
}

::-moz-selection { /* Code for Firefox */
  color: #CC9933;
}

.nav-1st {
  font-size: 1.2em;
  font-weight: bold;
}

.nav-2nd {
  font-size: 1.0em;
  font-weight: bold;
}

.nav-3rd {
  font-size: 0.8em;
  font-weight: bold;
}

.nav-4th {
  font-size: 0.6em;
  font-weight: bold;
}

img {
  opacity: 1;
  display: inline;

}

.brand {

      font-size: 18px;
    line-height: 20px;

}

.brand img {

vertical-align:middle;

}

.brand span {
  margin-left: 5px;
}